* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    background-color: #131313;
}


body {
    margin: 0;
    padding: 0px;
    line-height: normal;
    font-family:Inter;
    font-weight:400;
    height: 4160px;
    width: 360px;
    background-color: black;
}

b {
    background-color: #fee42a;
}

ul {
    margin-left: 20px;
}

h2 {
font-size: 16px;
line-height: 135%;
display: inline-block;
font-family: Inter;
color: #f5f5f5;
text-align: left;
height: 20px;
background-color: transparent;
}

h3 {
font-size: 22px;
line-height: 135%;
font-weight: 500;
font-family: 'EB Garamond';
color: #f5f5f5;
text-align: left;
display: inline-block;
height: 29px;
background-color: transparent;
}

.header{
    size: 360px 84px;
    display:flex;
    justify-content: space-between;
    align-items: normal;
    padding: 24px 20px;
    flex-direction: row;
    grid-gap: 168px;
}

.logo {
  width: 78.5px;
  position: relative;
  height: 15.4px;
  }
 
.menu {
    box-sizing: border-box;
    position: right;
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 16px;
    color: #f5f5f5;
    }

.menu-item1 {
    color:#f5f5f5;
    text-decoration: underline;
}

.menu-item {
    color: #f5f5f5;

}

.title {
    width: 100%;
    padding: 20px 24px;
    display: flex;
    flex-wrap: wrap;
    position: relative;
    height: 221px;
    text-align: left;
    font-size: 72px;
    color: #fff;
    font-family: 'EB Garamond';
}


.pic {
    position: relative;
    box-sizing: border-box;
    max-width: 100%;
    overflow: hidden;
    height: 198px;
    }

.first {
    position: absolute;
    padding-left: 20px;
    top: 0px;
    left: 0px;
    text-align: left;
    color: white;
    background-color: transparent;
}

.third {
    position: absolute;
    padding-left: 88px;
    top: 144px;
    left: 120px;
    color: white;
    background-color: transparent;
    width: 226px;
    font-family: 'EB Garamond';
    text-align: center;
    display: inline-block;
}

.second {
 position: absolute;
 top: 72px;
 left: 67px;
 margin-right: 20px;
 text-align: center;
 background-color: transparent;
 font-size: 72px;
 font-family: 'EB Garamond';
 color: #fff;
 text-align: right;
 display: inline-block;
}

.content_black {
 display: flex;
 flex-wrap: wrap;
 column-gap: auto;
 padding-top: 30px;
 width: 100%;
 position: relative;
 flex-direction: column;
 align-items: flex-start;
 justify-content: space-between;
}

.block {
 display: flex;
 align-items: top;
 padding: 24px 20px;
 color: #ccc;
 word-break: normal;
 font-size: 16px;
 font-family: Inter;
 }

.card__text {
    width: 203px;
    height: 38px;
}

.card__data{
    vertical-align: top;
    position: relative;
    text-align: right;
}

.block1 {
    align-items: top;
    padding: 0px 20px 0px 20px;
    color:#fff;
    word-break: normal;
    font-size: 16px;
    font-family: Inter;
    line-height: 21.6px;
}

.card__text1_block1 {
width: 320px;
color: #f5f5f5;
text-align: left;
}

.card__text2_block1 {
 padding-top: 24px;
 padding-bottom: 37px;
 width: 320px;
 text-align: left;
 position: relative;
}

.content_yellow {
    position: relative;
    background-color: #fee42a;
    width: 100%;
    height: 1368px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
    gap: 32px;
    text-align: left;
    font-size: 28px;
    color: #131313;
    font-family: Inter;
    }

.italic {
    font-size: 28px;
    font-family: 'EB Garamond';
    color: #131313;
    background-color: transparent;

    }
.sentence1 {
    width: 320px;
    position: relative;
    line-height: 115%;
    font-weight: 500;
    text-align: right;
    display: inline-block;
    height: 31.5px;
    background-color: transparent;

}

.sentence2 {
width: 320px;
position: relative;
font-size: 28px;
line-height: 115%;
font-weight: 500;
font-family: 'EB Garamond';
color: #131313;
text-align: left;
display: inline-block;
height: 31.5px;
background-color: transparent;
}

.new_article {
    display: flex;
    width: 320px;
    gap: 32px;
    margin-right: 20px;
    flex-direction: column;
    background-color:  #fee42a;
}

.new_article1 {
width: 320px;
position: relative;
font-size: 20px;
line-height: 27px;
font-family: Inter;
color: #131313;
text-align: left;
display: inline-block;
height: 297px;
background-color:  #fee42a;
}

.bullits {
    display:flex;
    margin-left: 20px;
    margin-right: 20px;
    width:304px;
    gap: 16px;
    flex-direction: column;
    font-family: Inter;
    background-color:  #fee42a;
    list-style-position: outside;
}

.neuverenost {
    flex: 1;
    width: 304px;
    position: relative;
    font-size: 16px;
    line-height: 21.6px;
    color: #131313;
    text-align: left;
    display: list-item;
    background-color:  #fee42a;
}

.strah {
    flex: 2;
    width: 304px;
    position: relative;
    font-size: 16px;
    line-height: 21.6px;
    color: #131313;
    text-align: left;
    display: list-item;
    background-color:  #fee42a; 
}

    .perfeccionism {
      flex: 3;
      width: 304px;
      position: relative;
      font-size: 16px;
      line-height: 21.6px;
      color: #131313;
      text-align: left;
      display: list-item;
      background-color:  #fee42a; 
    }

    .otsutstviye {
      flex: 4;
      width: 304px;
      position: relative;
      font-size: 16px;
      line-height: 21.6px;
      color: #131313;
      text-align: left;
      display: list-item;
      background-color:  #fee42a; 
    }

    .nedostatok{
        flex: 5;
        width: 304px;
        position: relative;
        font-size: 16px;
        line-height: 21.6px;
        color: #131313;
        text-align: left;
        display: list-item;
        background-color:  #fee42a; 
    }

.content_black2 {
    position: relative;
    background-color: #131313;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px 20px;
    box-sizing: border-box;
    gap: 32px;
    text-align: left;
    }   

  .italic2 {
      font-size: 28px;
      font-family: 'EB Garamond';
      color: #ccc;
      background-color: transparent;
    }

      .sentence3 {
          width: 320px;
          position: relative;
          line-height: 115%;
          font-weight: 500;
          text-align: right;
          display: inline-block;
          height: 31.5px;
          background-color: transparent;
        }

      .sentence4 {
         width: 320px;
         position: relative;
         font-size: 28px;
         line-height: 115%;
         font-weight: 500;
         text-align: left;
         display: inline-block;
         height: 31.5px;
         background-color: transparent;
        }
    
    .small_text{
      position: relative;
      font-size: 20px;
      line-height: 27px;
      font-family: Inter;
      color: #ccc;
      text-align: left;
      display: inline-block;
      background-color: transparent;
    }

    .card {
        width: 100%;
        position: relative;
        border-radius: 30px;
        background-color: #343434;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        box-sizing: border-box;
        gap: 8px;
        text-align: left;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
    }

    .image__card {
    position: relative;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
    object-fit: cover;
    background-color: transparent;
    }

    .card__title{
        background-color: #343434;
        margin-bottom: 8px;
    }

    .card_decribtion{
        background-color: #343434;
    }
    .card__subtitle {
      position: relative;
      font-size: 22px;
      line-height: 135%;
      font-weight: 500;
      font-family: 'EB Garamond';
      color: #f5f5f5;
      text-align: left;
      display: inline-block;
      height: 29.7px;
      margin-bottom: 8px;
    }

    .card__content{
        background-color: #343434;
    }

    .frame2{
        background-color:  #fee42a;
        border-radius: 30px;
        width: 100%;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 20px;
        box-sizing: border-box;
        gap: 8px;
        text-align: left;
        font-size: 22px;
        color: #131313;
        font-family: 'EB Garamond';

    }
    .card__subtitle1{
        color:#131313;
        background-color:  #fee42a;
    }

    .card__content_yellow {
        background-color:  #fee42a;
    }

    .card_decribtion1{
        background-color:  #fee42a;
        width: 100%;
        position: relative;
        font-size: 16px;
        line-height: 21.6px;
        font-family: Inter;
        color: #131313;
        text-align: left;
        display: inline-block;
        height: 261px;
        padding-top: 8px;
    }

    .vrstka {
        position: relative;
        line-height: 135%;
        background-color: #131313;
        }
    
        .div {
        position: relative;
        line-height: 125%;
        background-color: #131313;
        }
        .socials {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 16px;
        background-color: #131313;
        font-size: 14px;
        }
        .footer {
        background-color: #131313;
        width: 100%;
        position: relative;
        border-top: 1px solid #fee42a;
        box-sizing: border-box;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 20px;
        text-align: left;
        font-size: 16px;
        color: #f5f5f5;
        font-family: Inter;
        }
        